body { 
	max-width: 600px;
	max-height: 450px;
    min-width: 600px;
    min-height: 450px;
}

button {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-size: x-large;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    background-color: black;
    box-shadow: 5px 5px #a883f8;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    border-color: black;
    background-color: white;
    color: black;
}

input {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-size: x-large;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    background-color: white;
    box-shadow: 5px 5px #a883f8;
    color: black;
}

textarea {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-size: medium;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    background-color: white;
    box-shadow: 5px 5px #a883f8;
    color: black;
}

.listItemPass{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: normal;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: white;
    box-shadow: 0px 0px;
    color: black;
    width: 80%;
}

ul, li {list-style-type: none;}