body { 
	max-width: 600px;
	max-height: 450px;
    min-width: 600px;
    min-height: 450px;
}

button {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-size: x-large;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    background-color: black;
    box-shadow: 5px 5px #a883f8;
    color: white;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    border-color: black;
    background-color: white;
    color: black;
}

#deleteEditNoteBtn {
    width: 25%;
    height: 14%;
    padding: 0px;
    border-width: 0px;
    box-shadow: 0px 0px;
    margin-top: 8px;
    color: white;
    background-color: red;
}

#deleteEditNoteBtn:hover {
    border-width: 3px;
    background-color: white;
    color: black;
}

#deleteEditPasswordBtn {
    width: 25%;
    height: 14%;
    padding: 0px;
    border-width: 0px;
    box-shadow: 0px 0px;
    margin-top: 8px;
    color: white;
    background-color: red;
}
#deleteEditPasswordBtn:hover {
    border-width: 3px;
    background-color: white;
    color: black;
}


input {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-size: x-large;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    background-color: white;
    box-shadow: 5px 5px #a883f8;
    color: black;
}

textarea {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-size: medium;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    background-color: white;
    box-shadow: 5px 5px #a883f8;
    color: black;
}

.listItemPass{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: normal;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: white;
    box-shadow: 0px 0px;
    color: black;
    width: 80%;
}

ul, li {list-style-type: none;}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
 
/* button */
::-webkit-scrollbar-button {
    background: #6c63ff;
    border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #6c63ff;
    border-radius: 50px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #d3d3d3;
}
 
/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
    background: #000;
}
 
/* Corner */
::-webkit-scrollbar-corner {
    background: #999999;
}
 
/* Resizer */
::-webkit-resizer {
    background: #111111;
}

.smallboxes{
    padding-top: 2%;
    padding-right: 4%;
    color: #138496;
}